body {
    background-color: #e2ac7f;
}

#wrap{
    background-color: #f5f5dc;
    border: 3px dashed black;
    width: 50%;
    margin: 0 auto;
    font-style: italic;
    font-weight: lighter;
}

h1{
    text-align: center;
    border-bottom: 3px dashed black;
    margin: 4px;
}

p{
    font-size: small;
    width: 90%;
    margin: 16px auto;
}

ul {
    text-align: center;
    list-style: none;
}

li {
    line-height: 1.25;
}

li::first-letter {
    font-weight: 500;
    font-size: x-large;
}

.copyright{
    text-align: center;
    font-style: normal;
}

.copyright a{
    text-decoration: none;
}