body{
    background-color: gray;
}

*{
    box-sizing: border-box;
    line-height: 2;
    font-family: 'Nanum Gothic Coding', monospace;
}

#wrap{
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)/* rotateZ(-5deg)*/;
    box-shadow: 0 0 64px 16px #202020;
    background-color: beige;
}

.thepost p{
    padding: 16px;
}

.posttitle{
    border-bottom: 1px solid #848484;
    padding: 24px;
    font-weight: bolder;
    text-align: right;
    margin: 0;
}

.dateheader{
    text-align: center;
    font-size: small;
    margin: 0;
    padding: 0;
    line-height: 1;
    text-decoration: underline;
}

.postfooter{
    background-color: #848484;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 4px !important;
}