.container {
    display: block;
    padding: 4px 16px;
    width: 100%;
}

.container-wide {
    display: block;
    padding: 2px 8px;
    width: 100%;
}

.panel {
    display: block;
    padding: 0 16px;
    margin: 16px 0;
    width: 100%;
}

.placer {
    position: relative;
    display: block;
    width: 100%;
}

.hero-cont {
    display: block;
    height: 100vh;
    position: relative;
    width: 100%
}

.cont::after, .container::after, .container-wide::after, .panel::after, .placer::after, .hero-after::after {
    content: " ";
    display: inline;
    clear: both;
}

.vtop {
    position: absolute;
    top: 0;
}

.vtop-l {
    left: 0;
    position: absolute;
    top: 0;
}

.vtop-r {
    position: absolute;
    right: 0;
    top: 0;
}

.vbottom {
    position: absolute;
    bottom: 0;
}

.vbottom-l {
    left: 0;
    position: absolute;
    bottom: 0;
}

.vbottom-r {
    position: absolute;
    right: 0;
    bottom: 0;
}

.vmiddle {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.vmiddle-l {
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.vmiddle-r {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.bordered, .border{
    border: 1px solid #E0E0E0;
}

.border-left{
    border-left: 1px solid #E0E0E0;
}

.border-right{
    border-right: 1px solid #E0E0E0;
}

.border-top{
    border-top: 1px solid #E0E0E0;
}

.border-bottom{
    border-bottom: 1px solid #E0E0E0;
}

.leftbar{
    border-left: 4px solid #E0E0E0;
}

.rightbar{
    border-right: 4px solid #E0E0E0;
}

.topbar{
    border-top: 4px solid #E0E0E0;
}

.bottombar{
    border-bottom: 4px solid #E0E0E0;
}

.borderless, .border-0, .no-border{
    border: 0;
}

.border-white {
    border-color: #FFF;
}

.hover-border-white:hover {
    border-color: #FFF;
}

.border-black {
    border-color: #000;
}

.hover-border-black:hover {
    border-color: #000;
}

.border-red {
    border-color: #F44336;
}

.hover-border-red:hover {
    border-color: #F44336;
}

.border-pink {
    border-color: #E91E63;
}

.hover-border-pink:hover {
    border-color: #E91E63;
}

.border-purple {
    border-color: #9C27B0;
}

.hover-border-purple:hover {
    border-color: #9C27B0;
}

.border-deep-purple {
    border-color: #673AB7;
}

.hover-border-deep-purple:hover {
    border-color: #673AB7;
}

.border-indigo {
    border-color: #3F51B5;
}

.hover-border-indigo:hover {
    border-color: #3F51B5;
}

.border-blue {
    border-color: #2196F3;
}

.hover-border-blue:hover {
    border-color: #2196F3;
}

.border-light-blue {
    border-color: #03A9F4;
}

.hover-border-light-blue:hover {
    border-color: #03A9F4;
}

.border-cyan {
    border-color: #00BCD4;
}

.hover-border-cyan:hover {
    border-color: #00BCD4;
}

.border-teal {
    border-color: #009688;
}

.hover-border-teal:hover {
    border-color: #009688;
}

.border-green {
    border-color: #4CAF50;
}

.hover-border-green:hover {
    border-color: #4CAF50;
}

.border-light-green {
    border-color: #00C853;
}

.hover-border-light-green:hover {
    border-color: #00C853;
}

.border-lime {
    border-color: #C6FF00;
}

.hover-border-lime:hover {
    border-color: #C6FF00;
}

.border-yellow {
    border-color: #FFEB3B;
}

.hover-border-yellow:hover {
    border-color: #FFEB3B;
}

.border-amber {
    border-color: #FFC107;
}

.hover-border-amber:hover {
    border-color: #FFC107;
}

.border-orange {
    border-color: #FF9800;
}

.hover-border-orange:hover {
    border-color: #FF9800;
}

.border-deep-orange {
    border-color: #FF5722;
}

.hover-border-deep-orange:hover {
    border-color: #FF5722;
}

.border-brown {
    border-color: #5D4037;
}

.hover-border-brown:hover {
    border-color: #5D4037;
}

.border-gray {
    border-color: #BDBDBD;
}

.hover-border-gray:hover {
    border-color: #BDBDBD;
}

.border-white {
    border-color: #fff;
}

.hover-border-white:hover {
    border-color: #fff;
}

.border-blue-gray {
    border-color: #607D8B;
}

.hover-border-blue-gray:hover {
    border-color: #607D8B;
}

.card {
    display: inline-block;
    width: auto;
}

.card > img {
    margin: 0;
    display: block;
    max-width: 100%;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-justify {
    text-align: justify;
}

.text-start {
    text-align: start;
}

.text-end {
    text-align: end;
}

.normal-text {
    font-weight: normal;
    font-style: normal;
}

.lighter-text {
    font-weight: lighter;
}

.bold-text {
    font-weight: bold;
}

.bolder-text {
    font-weight: bolder;
}

.italic {
    font-style: italic;
}

.oblique-text {
    font-style: oblique;
}

.underlined {
    text-decoration: underline;
}

.linethrough {
    text-decoration: line-through;
}

.wavy {
    text-decoration: wavy;
}

.overlined {
    text-decoration: overline;
}

.wide {
    letter-spacing: 2px;
}

.wider {
    letter-spacing: 4px;
}

.round, .rounded, .round-m {
    border-radius: 8px;
}

.round-xs {
    border-radius: 2px;
}

.round-s {
    border-radius: 4px;
}

.round-l {
    border-radius: 12px;
}

.round-xl {
    border-radius: 16px;
}

.round-xxl {
    border-radius: 24px;
}

.circle {
    border-radius: 50%;
}

.round-0, .no-round {
    border-radius: 0;
}

.round-end-xs {
    border-radius: 0 2px 2px 0;
}

.round-end-s {
    border-radius: 0 4px 4px 0;
}

.round-end, .round-end-m {
    border-radius: 0 8px 8px 0;
}

.round-end-l {
    border-radius: 0 12px 12px 0;
}

.round-end-xl {
    border-radius: 0 16px 16px 0;
}

.round-end-xxl {
    border-radius: 0 24px 24px 0;
}

.round-start-xs {
    border-radius: 2px 0 0 2px;
}

.round-start-s {
    border-radius: 4px 0 0 4px;
}

.round-start, .round-start-m {
    border-radius: 8px 0 0 8px;
}

.round-start-l {
    border-radius: 12px 0 0 12px;
}

.round-start-xl {
    border-radius: 16px 0 0 16px;
}

.round-start-xxl {
    border-radius: 24px 0 0 24px;
}

.circle-start {
    border-radius: 50% 0 0 50%;
}

.circle-end {
    border-radius: 0 50% 50% 0;
}

.padding-xs {
    padding: 2px 4px;
}

.padding-s {
    padding: 4px 8px;
}

.padding-m, .padding {
    padding: 8px 16px;
}

.padding-l {
    padding: 12px 24px;
}

.padding-xl {
    padding: 16px 32px;
}

.padding-xxl {
    padding: 24px 48px;
}

.margin-xs {
    margin: 4px;
}

.margin-s {
    margin: 8px;
}

.margin-m, .margin {
    margin: 16px;
}

.margin-l {
    margin: 24px;
}

.margin-xl {
    margin: 32px;
}

.margin-xxl {
    margin: 48px;
}

.place-top {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.place-right {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.place-bottom {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.place-left {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.place-top-left {
    position: absolute;
    top: 0;
    left: 0;
}

.place-top-right {
    position: absolute;
    top: 0;
    right: 0;
}

.place-bottom-right {
    position: absolute;
    bottom: 0;
    left: 0;
}

.place-bottom-left {
    position: absolute;
    top: 0;
    left: 0;
}

.place-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.show {
    display: initial;
}

.hide {
    display: none;
}

.clear {
    clear: both;
}

.spacer {
    background-color: transparent;
    color: transparent;
    margin: 8px 0;
}

.left {
    float: left;
}

.right {
    float: right;
}

.block {
    display: block !important;
}

.inline-block {
    display: inline-block !important;
}

.flex, .row {
    display: flex !important;
}

.col {
    flex: 1;
}

.col-1 {
    width: 8.333334%;
}

.col-2 {
    width: 16.666667%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.333334%;
}

.col-5 {
    width: 41.666667%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.333334%;
}

.col-8 {
    width: 66.666667%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.333334%;
}

.col-11 {
    width: 91.666667%;
}

.col-12 {
    width: 100%;
}

.inline-flex {
    display: inline-flex !important;
}

.grid {
    display: grid !important;
}

.inline-grid {
    display: inline-grid !important;
}

.inline {
    display: inline !important;
}

.invisible {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

input[type=checkbox] {
    vertical-align: middle;
}

ul li{
    display: block;
    border-bottom: 1px solid #e0e0e0;
    color: #424242;
    padding: 12px;
    position: relative;
}

ul.border {
    border: 1px solid #e0e0e0;
}

ul li:last-child {
    border: 0;
}

li .badge {
    position: absolute;
    right: 16px;
    cursor: pointer;
}