<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kenliten/nvk/dist/nvk.reset.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/light.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Components Library</title>
</head>
<body>
    <h1>Component Library</h1>
    <small>Select a theme from the following list to get started</small>
    <hr>
    <ul>
        <li><a href="minimal/index.html">Minimal Theme</a></li>
    </ul>
</body>
</html>