<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/minimal.base.css">
    <title>Minimal - Component Library</title>

    <link rel="stylesheet" href="css/minimal.buttons.css">
    <link rel="stylesheet" href="css/minimal.tables.css">
    <script src="https://kit.fontawesome.com/a3a08bbca8.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
    </div>
</body>
</html>