<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../resources/css/vendor/nvk.shapes.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kenliten/nvk/dist/nvk.reset.min.css">
    <title>Minimal - Component Library</title>

    <link rel="stylesheet" href="css/buttons.css">
    <link rel="stylesheet" href="css/tables.css">
    <script src="https://kit.fontawesome.com/a3a08bbca8.js" crossorigin="anonymous"></script>
</head>
<body style="background-color: #FFFFFF;">
    <div class="cont">
        <h1>Minimal Collection</h1>
        <small>A component library by <a href="https://github.com/kenliten">@kenliten</a></small>
    </div>
    <hr>
    <div class="panel">
        <h2>Intro</h2>
        <p>
            Minimal have a default color palette. You can (and should) changes this values for yours.
        </p>
        <p>
            These are the default theme color values:
            <pre style="margin-top: 16px;">
--disabled-bg-color: #F5F5F5;
--default-bg-color: #EEEEEE;
--default-bg-hover-color: #E0E0E0;
--default-txt-color: #636363;
--default-txt-hover-color: #212121;
--primary-bg-color: #BF360C;
--primary-bg-hover-color: #DD2C00;
--primary-txt-color: #F5F5F5;
--primary-txt-hover-color: #FFFFFF;
--secondary-bg-color: #424242;
--secondary-bg-hover-color: #000000;
--secondary-txt-color: #F5F5F5;
--secondary-txt-hover-color: #FFFFFF;
            </pre>
        </p>
    </div>
    <hr>
    <div class="panel">
        <h2>Buttons</h2>
        <div class="cont">
            <div>
                <h3>Regular Buttons</h3>
                <h4>Solid Buttons</h4>
                <button title="if you add a span or i tag with badge class will be shown like this">Default Button <span class="badge">3</span></button>
                <button class="primary">Primary Button</button>
                <button class="secondary" title="if you put a span or i tag inside a button is hidden by default and shown on hover">Secondary Button <span class="fas fa-arrow-right"></span></button>
                <h4>Outline Buttons</h4>
                <button class="outline">Outline Default Button</button>
                <button class="primary outline">Primary Outline Button</button>
                <button class="secondary outline">Secondary Outline Button</button>
            </div>
        </div>
        <div style="margin-top: 16px;">
            <a href="buttons.html" class="button blue block">Full Collection</a>
        </div>
    </div>
    <div class="panel">
        <h2>Tables</h2>
        <div class="panel">
            <table>
                <thead>
                    <tr>
                        <th colspan="5">Default Table</th>
                    </tr>
                    <tr>
                        <th>Id</th>
                        <th>City</th>
                        <th>State</th>
                        <th>Population</th>
                        <th>Land Area</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>New York</td>
                        <td>NY</td>
                        <td>8405837</td>
                        <td>302.6</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Seattle</td>
                        <td>WA</td>
                        <td>652405</td>
                        <td>83.9</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Boston</td>
                        <td>MA</td>
                        <td>645966</td>
                        <td>48.3</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Kansas City</td>
                        <td>MO</td>
                        <td>467007</td>
                        <td>315</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="panel">
            <table class="primary">
                <thead>
                    <tr>
                        <th colspan="5">Primary Table</th>
                    </tr>
                    <tr>
                        <th>Id</th>
                        <th>City</th>
                        <th>State</th>
                        <th>Population</th>
                        <th>Land Area</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>New York</td>
                        <td>NY</td>
                        <td>8405837</td>
                        <td>302.6</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Seattle</td>
                        <td>WA</td>
                        <td>652405</td>
                        <td>83.9</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Boston</td>
                        <td>MA</td>
                        <td>645966</td>
                        <td>48.3</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Kansas City</td>
                        <td>MO</td>
                        <td>467007</td>
                        <td>315</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="panel">
            <table class="secondary">
                <thead>
                    <tr>
                        <th colspan="5">Secondary Table</th>
                    </tr>
                    <tr>
                        <th>Id</th>
                        <th>City</th>
                        <th>State</th>
                        <th>Population</th>
                        <th>Land Area</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>New York</td>
                        <td>NY</td>
                        <td>8405837</td>
                        <td>302.6</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Seattle</td>
                        <td>WA</td>
                        <td>652405</td>
                        <td>83.9</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Boston</td>
                        <td>MA</td>
                        <td>645966</td>
                        <td>48.3</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Kansas City</td>
                        <td>MO</td>
                        <td>467007</td>
                        <td>315</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div style="margin-top: 16px;">
            <a href="tables.html" class="button blue block">Full Collection</a>
        </div>
    </div>
</body>
</html>