<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../resources/css/vendor/nvk.shapes.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kenliten/nvk/dist/nvk.reset.min.css">
    <title>Minimal Tables - Component Library</title>

    <link rel="stylesheet" href="css/tables.css">
    <script src="https://kit.fontawesome.com/a3a08bbca8.js" crossorigin="anonymous"></script>
</head>
<body style="background-color: #FFFFFF;">
    <div class="cont">
        <h1>Minimal Tables Collection</h1>
        <small>A component library by <a href="https://github.com/kenliten">@kenliten</a></small>
    </div>
    <hr>
    <div class="panel">
        <h2>Intro</h2>
        <p>
            Minimal have a default color palette. You can (and should) changes this values for yours.
        </p>
    </div>
    <hr>
    <div class="panel">
        <h2>Tables</h2>
        <div class="panel">
            <table>
                <thead>
                    <tr>
                        <th colspan="5">Default Table</th>
                    </tr>
                    <tr>
                        <th>Id</th>
                        <th>City</th>
                        <th>State</th>
                        <th>Population</th>
                        <th>Land Area</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>New York</td>
                        <td>NY</td>
                        <td>8405837</td>
                        <td>302.6</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Seattle</td>
                        <td>WA</td>
                        <td>652405</td>
                        <td>83.9</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Boston</td>
                        <td>MA</td>
                        <td>645966</td>
                        <td>48.3</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Kansas City</td>
                        <td>MO</td>
                        <td>467007</td>
                        <td>315</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="panel">
            <table class="hoverable">
                <thead>
                    <tr>
                        <th colspan="5">Default Hoverable Table</th>
                    </tr>
                    <tr>
                        <th>Id</th>
                        <th>City</th>
                        <th>State</th>
                        <th>Population</th>
                        <th>Land Area</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>New York</td>
                        <td>NY</td>
                        <td>8405837</td>
                        <td>302.6</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Seattle</td>
                        <td>WA</td>
                        <td>652405</td>
                        <td>83.9</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Boston</td>
                        <td>MA</td>
                        <td>645966</td>
                        <td>48.3</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Kansas City</td>
                        <td>MO</td>
                        <td>467007</td>
                        <td>315</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="panel">
            <table class="primary">
                <thead>
                    <tr>
                        <th colspan="5">Primary Table</th>
                    </tr>
                    <tr>
                        <th>Id</th>
                        <th>City</th>
                        <th>State</th>
                        <th>Population</th>
                        <th>Land Area</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>New York</td>
                        <td>NY</td>
                        <td>8405837</td>
                        <td>302.6</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Seattle</td>
                        <td>WA</td>
                        <td>652405</td>
                        <td>83.9</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Boston</td>
                        <td>MA</td>
                        <td>645966</td>
                        <td>48.3</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Kansas City</td>
                        <td>MO</td>
                        <td>467007</td>
                        <td>315</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="panel">
            <table class="primary outline">
                <thead>
                    <tr>
                        <th colspan="5">Primary Outline Table</th>
                    </tr>
                    <tr>
                        <th>Id</th>
                        <th>City</th>
                        <th>State</th>
                        <th>Population</th>
                        <th>Land Area</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>New York</td>
                        <td>NY</td>
                        <td>8405837</td>
                        <td>302.6</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Seattle</td>
                        <td>WA</td>
                        <td>652405</td>
                        <td>83.9</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Boston</td>
                        <td>MA</td>
                        <td>645966</td>
                        <td>48.3</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Kansas City</td>
                        <td>MO</td>
                        <td>467007</td>
                        <td>315</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="panel">
            <table class="primary bordered">
                <thead>
                    <tr>
                        <th colspan="5">Primary Bordered Table</th>
                    </tr>
                    <tr>
                        <th>Id</th>
                        <th>City</th>
                        <th>State</th>
                        <th>Population</th>
                        <th>Land Area</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>New York</td>
                        <td>NY</td>
                        <td>8405837</td>
                        <td>302.6</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Seattle</td>
                        <td>WA</td>
                        <td>652405</td>
                        <td>83.9</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Boston</td>
                        <td>MA</td>
                        <td>645966</td>
                        <td>48.3</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Kansas City</td>
                        <td>MO</td>
                        <td>467007</td>
                        <td>315</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="panel">
            <table class="primary striped">
                <thead>
                    <tr>
                        <th colspan="5">Primary Striped Table</th>
                    </tr>
                    <tr>
                        <th>Id</th>
                        <th>City</th>
                        <th>State</th>
                        <th>Population</th>
                        <th>Land Area</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>New York</td>
                        <td>NY</td>
                        <td>8405837</td>
                        <td>302.6</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Seattle</td>
                        <td>WA</td>
                        <td>652405</td>
                        <td>83.9</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Boston</td>
                        <td>MA</td>
                        <td>645966</td>
                        <td>48.3</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Kansas City</td>
                        <td>MO</td>
                        <td>467007</td>
                        <td>315</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="panel">
            <table class="secondary">
                <thead>
                    <tr>
                        <th colspan="5">Secondary Table</th>
                    </tr>
                    <tr>
                        <th>Id</th>
                        <th>City</th>
                        <th>State</th>
                        <th>Population</th>
                        <th>Land Area</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>New York</td>
                        <td>NY</td>
                        <td>8405837</td>
                        <td>302.6</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Seattle</td>
                        <td>WA</td>
                        <td>652405</td>
                        <td>83.9</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Boston</td>
                        <td>MA</td>
                        <td>645966</td>
                        <td>48.3</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Kansas City</td>
                        <td>MO</td>
                        <td>467007</td>
                        <td>315</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="panel">
            <table class="secondary outline">
                <thead>
                    <tr>
                        <th colspan="5">Secondary Outline Table</th>
                    </tr>
                    <tr>
                        <th>Id</th>
                        <th>City</th>
                        <th>State</th>
                        <th>Population</th>
                        <th>Land Area</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>New York</td>
                        <td>NY</td>
                        <td>8405837</td>
                        <td>302.6</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Seattle</td>
                        <td>WA</td>
                        <td>652405</td>
                        <td>83.9</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Boston</td>
                        <td>MA</td>
                        <td>645966</td>
                        <td>48.3</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Kansas City</td>
                        <td>MO</td>
                        <td>467007</td>
                        <td>315</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="panel">
            <table class="secondary bordered">
                <thead>
                    <tr>
                        <th colspan="5">Secondary Bordered Table</th>
                    </tr>
                    <tr>
                        <th>Id</th>
                        <th>City</th>
                        <th>State</th>
                        <th>Population</th>
                        <th>Land Area</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>New York</td>
                        <td>NY</td>
                        <td>8405837</td>
                        <td>302.6</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Seattle</td>
                        <td>WA</td>
                        <td>652405</td>
                        <td>83.9</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Boston</td>
                        <td>MA</td>
                        <td>645966</td>
                        <td>48.3</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Kansas City</td>
                        <td>MO</td>
                        <td>467007</td>
                        <td>315</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="panel">
            <table class="secondary striped">
                <thead>
                    <tr>
                        <th colspan="5">Secondary Striped Table</th>
                    </tr>
                    <tr>
                        <th>Id</th>
                        <th>City</th>
                        <th>State</th>
                        <th>Population</th>
                        <th>Land Area</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>New York</td>
                        <td>NY</td>
                        <td>8405837</td>
                        <td>302.6</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Seattle</td>
                        <td>WA</td>
                        <td>652405</td>
                        <td>83.9</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Boston</td>
                        <td>MA</td>
                        <td>645966</td>
                        <td>48.3</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Kansas City</td>
                        <td>MO</td>
                        <td>467007</td>
                        <td>315</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <h4>Colour Tables</h4>
        <div class="panel">
            <table class="red">
                <thead>
                    <tr>
                        <th colspan="3">Red Table</th>
                    </tr>
                    <tr>
                        <th>City</th>
                        <th>State</th>
                        <th>Population</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>New York</td>
                        <td>NY</td>
                        <td>8405837</td>
                    </tr>
                    <tr>
                        <td>Seattle</td>
                        <td>WA</td>
                        <td>652405</td>
                    </tr>
                    <tr>
                        <td>New York</td>
                        <td>NY</td>
                        <td>8405837</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="panel">
            <table class="pink">
                <thead>
                    <tr>
                        <th colspan="3">Pink Table</th>
                    </tr>
                    <tr>
                        <th>City</th>
                        <th>State</th>
                        <th>Population</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>New York</td>
                        <td>NY</td>
                        <td>8405837</td>
                    </tr>
                    <tr>
                        <td>Seattle</td>
                        <td>WA</td>
                        <td>652405</td>
                    </tr>
                    <tr>
                        <td>New York</td>
                        <td>NY</td>
                        <td>8405837</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="panel">
            <table class="purple">
                <thead>
                    <tr>
                        <th colspan="3">Purple Table</th>
                    </tr>
                    <tr>
                        <th>City</th>
                        <th>State</th>
                        <th>Population</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>New York</td>
                        <td>NY</td>
                        <td>8405837</td>
                    </tr>
                    <tr>
                        <td>Seattle</td>
                        <td>WA</td>
                        <td>652405</td>
                    </tr>
                    <tr>
                        <td>New York</td>
                        <td>NY</td>
                        <td>8405837</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="panel">
            <table class="deep-purple">
                <thead>
                    <tr>
                        <th colspan="3">Deep Purple Table</th>
                    </tr>
                    <tr>
                        <th>City</th>
                        <th>State</th>
                        <th>Population</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>New York</td>
                        <td>NY</td>
                        <td>8405837</td>
                    </tr>
                    <tr>
                        <td>Seattle</td>
                        <td>WA</td>
                        <td>652405</td>
                    </tr>
                    <tr>
                        <td>New York</td>
                        <td>NY</td>
                        <td>8405837</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="panel">
            <table class="indigo">
                <thead>
                    <tr>
                        <th colspan="3">Indigo Table</th>
                    </tr>
                    <tr>
                        <th>City</th>
                        <th>State</th>
                        <th>Population</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>New York</td>
                        <td>NY</td>
                        <td>8405837</td>
                    </tr>
                    <tr>
                        <td>Seattle</td>
                        <td>WA</td>
                        <td>652405</td>
                    </tr>
                    <tr>
                        <td>New York</td>
                        <td>NY</td>
                        <td>8405837</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="panel">
            <table class="blue">
                <thead>
                    <tr>
                        <th colspan="3">Blue Table</th>
                    </tr>
                    <tr>
                        <th>City</th>
                        <th>State</th>
                        <th>Population</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>New York</td>
                        <td>NY</td>
                        <td>8405837</td>
                    </tr>
                    <tr>
                        <td>Seattle</td>
                        <td>WA</td>
                        <td>652405</td>
                    </tr>
                    <tr>
                        <td>New York</td>
                        <td>NY</td>
                        <td>8405837</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="panel">
            <table class="light-blue">
                <thead>
                    <tr>
                        <th colspan="3">Light Blue Table</th>
                    </tr>
                    <tr>
                        <th>City</th>
                        <th>State</th>
                        <th>Population</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>New York</td>
                        <td>NY</td>
                        <td>8405837</td>
                    </tr>
                    <tr>
                        <td>Seattle</td>
                        <td>WA</td>
                        <td>652405</td>
                    </tr>
                    <tr>
                        <td>New York</td>
                        <td>NY</td>
                        <td>8405837</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="panel">
            <table class="cyan">
                <thead>
                    <tr>
                        <th colspan="3">Cyan Table</th>
                    </tr>
                    <tr>
                        <th>City</th>
                        <th>State</th>
                        <th>Population</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>New York</td>
                        <td>NY</td>
                        <td>8405837</td>
                    </tr>
                    <tr>
                        <td>Seattle</td>
                        <td>WA</td>
                        <td>652405</td>
                    </tr>
                    <tr>
                        <td>New York</td>
                        <td>NY</td>
                        <td>8405837</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="panel">
            <table class="teal">
                <thead>
                    <tr>
                        <th colspan="3">Teal Table</th>
                    </tr>
                    <tr>
                        <th>City</th>
                        <th>State</th>
                        <th>Population</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>New York</td>
                        <td>NY</td>
                        <td>8405837</td>
                    </tr>
                    <tr>
                        <td>Seattle</td>
                        <td>WA</td>
                        <td>652405</td>
                    </tr>
                    <tr>
                        <td>New York</td>
                        <td>NY</td>
                        <td>8405837</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="panel">
            <table class="green">
                <thead>
                    <tr>
                        <th colspan="3">Green Table</th>
                    </tr>
                    <tr>
                        <th>City</th>
                        <th>State</th>
                        <th>Population</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>New York</td>
                        <td>NY</td>
                        <td>8405837</td>
                    </tr>
                    <tr>
                        <td>Seattle</td>
                        <td>WA</td>
                        <td>652405</td>
                    </tr>
                    <tr>
                        <td>New York</td>
                        <td>NY</td>
                        <td>8405837</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="panel">
            <table class="light-green">
                <thead>
                    <tr>
                        <th colspan="3">Light Green Table</th>
                    </tr>
                    <tr>
                        <th>City</th>
                        <th>State</th>
                        <th>Population</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>New York</td>
                        <td>NY</td>
                        <td>8405837</td>
                    </tr>
                    <tr>
                        <td>Seattle</td>
                        <td>WA</td>
                        <td>652405</td>
                    </tr>
                    <tr>
                        <td>New York</td>
                        <td>NY</td>
                        <td>8405837</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="panel">
            <table class="lime">
                <thead>
                    <tr>
                        <th colspan="3">Lime Table</th>
                    </tr>
                    <tr>
                        <th>City</th>
                        <th>State</th>
                        <th>Population</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>New York</td>
                        <td>NY</td>
                        <td>8405837</td>
                    </tr>
                    <tr>
                        <td>Seattle</td>
                        <td>WA</td>
                        <td>652405</td>
                    </tr>
                    <tr>
                        <td>New York</td>
                        <td>NY</td>
                        <td>8405837</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="panel">
            <table class="yellow">
                <thead>
                    <tr>
                        <th colspan="3">Yellow Table</th>
                    </tr>
                    <tr>
                        <th>City</th>
                        <th>State</th>
                        <th>Population</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>New York</td>
                        <td>NY</td>
                        <td>8405837</td>
                    </tr>
                    <tr>
                        <td>Seattle</td>
                        <td>WA</td>
                        <td>652405</td>
                    </tr>
                    <tr>
                        <td>New York</td>
                        <td>NY</td>
                        <td>8405837</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="panel">
            <table class="amber">
                <thead>
                    <tr>
                        <th colspan="3">Amber Table</th>
                    </tr>
                    <tr>
                        <th>City</th>
                        <th>State</th>
                        <th>Population</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>New York</td>
                        <td>NY</td>
                        <td>8405837</td>
                    </tr>
                    <tr>
                        <td>Seattle</td>
                        <td>WA</td>
                        <td>652405</td>
                    </tr>
                    <tr>
                        <td>New York</td>
                        <td>NY</td>
                        <td>8405837</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="panel">
            <table class="orange">
                <thead>
                    <tr>
                        <th colspan="3">Orange Table</th>
                    </tr>
                    <tr>
                        <th>City</th>
                        <th>State</th>
                        <th>Population</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>New York</td>
                        <td>NY</td>
                        <td>8405837</td>
                    </tr>
                    <tr>
                        <td>Seattle</td>
                        <td>WA</td>
                        <td>652405</td>
                    </tr>
                    <tr>
                        <td>New York</td>
                        <td>NY</td>
                        <td>8405837</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="panel">
            <table class="deep-orange">
                <thead>
                    <tr>
                        <th colspan="3">Deep Orange Table</th>
                    </tr>
                    <tr>
                        <th>City</th>
                        <th>State</th>
                        <th>Population</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>New York</td>
                        <td>NY</td>
                        <td>8405837</td>
                    </tr>
                    <tr>
                        <td>Seattle</td>
                        <td>WA</td>
                        <td>652405</td>
                    </tr>
                    <tr>
                        <td>New York</td>
                        <td>NY</td>
                        <td>8405837</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="panel">
            <table class="brown">
                <thead>
                    <tr>
                        <th colspan="3">Brown Table</th>
                    </tr>
                    <tr>
                        <th>City</th>
                        <th>State</th>
                        <th>Population</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>New York</td>
                        <td>NY</td>
                        <td>8405837</td>
                    </tr>
                    <tr>
                        <td>Seattle</td>
                        <td>WA</td>
                        <td>652405</td>
                    </tr>
                    <tr>
                        <td>New York</td>
                        <td>NY</td>
                        <td>8405837</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="panel">
            <table class="gray">
                <thead>
                    <tr>
                        <th colspan="3">Gray Table</th>
                    </tr>
                    <tr>
                        <th>City</th>
                        <th>State</th>
                        <th>Population</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>New York</td>
                        <td>NY</td>
                        <td>8405837</td>
                    </tr>
                    <tr>
                        <td>Seattle</td>
                        <td>WA</td>
                        <td>652405</td>
                    </tr>
                    <tr>
                        <td>New York</td>
                        <td>NY</td>
                        <td>8405837</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="panel">
            <table class="blue-gray">
                <thead>
                    <tr>
                        <th colspan="3">Blue Gray Table</th>
                    </tr>
                    <tr>
                        <th>City</th>
                        <th>State</th>
                        <th>Population</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>New York</td>
                        <td>NY</td>
                        <td>8405837</td>
                    </tr>
                    <tr>
                        <td>Seattle</td>
                        <td>WA</td>
                        <td>652405</td>
                    </tr>
                    <tr>
                        <td>New York</td>
                        <td>NY</td>
                        <td>8405837</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="panel">
            <table class="black">
                <thead>
                    <tr>
                        <th colspan="3">Black Table</th>
                    </tr>
                    <tr>
                        <th>City</th>
                        <th>State</th>
                        <th>Population</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>New York</td>
                        <td>NY</td>
                        <td>8405837</td>
                    </tr>
                    <tr>
                        <td>Seattle</td>
                        <td>WA</td>
                        <td>652405</td>
                    </tr>
                    <tr>
                        <td>New York</td>
                        <td>NY</td>
                        <td>8405837</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="panel">
            <table class="white">
                <thead>
                    <tr>
                        <th colspan="3">White Table</th>
                    </tr>
                    <tr>
                        <th>City</th>
                        <th>State</th>
                        <th>Population</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>New York</td>
                        <td>NY</td>
                        <td>8405837</td>
                    </tr>
                    <tr>
                        <td>Seattle</td>
                        <td>WA</td>
                        <td>652405</td>
                    </tr>
                    <tr>
                        <td>New York</td>
                        <td>NY</td>
                        <td>8405837</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>